@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Index</title>
    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }

        body {
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>
    <div class="text-left">
        <h1>Inscription Participant</h1>
        <h2>Hackfest</h2>
        <div class="btn btn-success">
            @Html.ActionLink("Inscription", "Formulaire")
        </div>
    </div>
    <div class="text-center">
        <h1>Inscription MembresCO</h1>
        <h2>Hackfest</h2>
        <div class="btn btn-success">
            @Html.ActionLink("Inscription", "FormulaireMembresCO")
        </div>
    </div>
</body>
</html>
