@model TpFinal.Models.Organisateur

@{
    Layout = null;
}

<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>RôleAlloué</title>
    <style>
        body {
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1>Le rôle @Model.Role à été alloué</h1>
        <div class="lead">
            @if (Model.Role != "")
            {
                @:Role Enregistrer
            }
            else
            {
                @:Le membre n'a pas reçu de rôle
            }
            <p>
                <a href="@Url.Action("ListMembreCO", "Home")">Voir</a> les autres membres?
            </p>
        </div>
    </div>
    
</body>
</html>